<section *ngIf="recipe">
  <div class="mx-auto max-w-screen-2xl px-4 py-16 sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 lg:h-screen lg:grid-cols-2">
      <div class="relative z-10 lg:py-16">
        <div  class="block rounded-lg p-4 shadow-sm shadow-indigo-100">
          <img
            alt=""
            src="{{recipe.recipeImageUrl}}"
            class="h-56 w-full rounded-md object-cover"
          />

          <div class="mt-2">
            <dl>
              <div>
                <dt class="sr-only">Price</dt>

                <dd class="text-sm text-gray-500">bởi <a href="#" class="underline">{{recipe.userKnownAs}}</a></dd>
              </div>
              <div>
                <dt class="sr-only">Address</dt>

                <dd class="font-medium">{{recipe.title}}</dd>
              </div>
            </dl>

            <div class="mt-6 flex items-center gap-8 text-xs">
              <div class="sm:inline-flex sm:shrink-0 sm:items-center sm:gap-2">
                <lucide-icon name="star" [size]="16" [color]="'#f8b008'"></lucide-icon>
                <div class="mt-1.5 sm:mt-0">
                  <p class="text-gray-500">Độ khó</p>

                  <p class="font-medium">{{recipe.recipeComplexityName}}</p>
                </div>
              </div>

              <div class="sm:inline-flex sm:shrink-0 sm:items-center sm:gap-2">
                <lucide-icon name="heart" [size]="16" [color]="'red'"></lucide-icon>

                <div class="mt-1.5 sm:mt-0">
                  <p class="text-gray-500">Lượt thích</p>

                  <p class="font-medium">2</p>
                </div>
              </div>

              <div class="sm:inline-flex sm:shrink-0 sm:items-center sm:gap-2">
                <lucide-icon name="eye" [size]="16"></lucide-icon>
                <div class="mt-1.5 sm:mt-0">
                  <p class="text-gray-500">Lượt xem</p>

                  <p class="font-medium">{{recipe.numberOfViews}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="relative flex items-center bg-gray-100">
        <span
          class="hidden lg:absolute lg:inset-y-0 lg:-start-16 lg:block lg:w-16 lg:bg-gray-100"
        ></span>

        <div class="p-8 sm:p-16 lg:p-24">
          <h2 class="text-2xl font-bold sm:text-3xl">
            Thành phần
          </h2>
          <div class="w-full text-gray-600 mt-4">
            <p *ngFor="let ingredient of recipe.recipeIngredients">{{ingredient.ingredientName}} - {{ingredient.ingredientServing}} gr</p>
          </div>
        </div>
      </div>
    </div>
    <div class="max-w-2xl mx-auto bg-white p-8 rounded-lg shadow-lg">
      <h1 class="text-2xl font-bold mb-6">Hướng dẫn thực hiện</h1>

      <div class="mb-8" *ngFor="let step of recipe.recipeSteps">
        <div class="flex items-center mb-4">
          <img *ngFor="let image of step.recipeStepImages" src="{{image.url}}" alt="Step 1" class="w-24 h-24 mr-4 rounded">
          <p class="text-lg font-medium">{{step.no}}. {{step.description}}</p>
        </div>
      </div>
    </div>
    <div class="max-w-2xl mx-auto bg-white p-8 rounded-lg shadow-lg" *ngIf="recipe.recipeStatusName == 'Pending'">
      <h1 class="text-2xl font-bold mb-6">Khẩu vị</h1>

      <form #tasteForm="ngForm" (ngSubmit)="tasteForm.valid && submitForm()">
        <div class="mt-8 space-y-8">
          <div>
            <div class="flex items-start">
              <div>
          <span class="inline-flex justify-center items-center w-6 h-6 rounded bg-green-500 text-white font-medium text-sm">
              1.
          </span>
              </div>

              <p class="ml-4 md:ml-6 text-bold">
                Độ cay
              </p>
            </div>

            <div class="flex items-start mt-3">

              <mat-slider min="0" max="100" step="1" showTickMarks discrete [displayWith]="formatLabel">
                <input
                  matSliderThumb
                  name="spiciness"
                  #spiciness="ngModel"
                  [(ngModel)]="tasteProfile.spiciness"
                >
              </mat-slider>

            </div>
          </div>
          <div>
            <div class="flex items-start">
              <div>
          <span class="inline-flex justify-center items-center w-6 h-6 rounded bg-green-500 text-white font-medium text-sm">
              2.
          </span>
              </div>

              <p class="ml-4 md:ml-6 text-bold">
                Độ mặn
              </p>
            </div>

            <div class="flex items-start mt-3">

              <mat-slider min="0" max="100" step="1" showTickMarks discrete [displayWith]="formatLabel">
                <input
                  matSliderThumb
                  name="saltiness"
                  #saltiness="ngModel"
                  [(ngModel)]="tasteProfile.saltiness"
                >
              </mat-slider>

            </div>
          </div>
          <div>
            <div class="flex items-start">
              <div>
          <span class="inline-flex justify-center items-center w-6 h-6 rounded bg-green-500 text-white font-medium text-sm">
              3.
          </span>
              </div>

              <p class="ml-4 md:ml-6 text-bold">
                Độ ngọt
              </p>
            </div>

            <div class="flex items-start mt-3">

              <mat-slider min="0" max="100" step="1" showTickMarks discrete [displayWith]="formatLabel">
                <input
                  matSliderThumb
                  name="sweetness"
                  #sweetness="ngModel"
                  [(ngModel)]="tasteProfile.sweetness"
                >
              </mat-slider>

            </div>
          </div>
          <div>
            <div class="flex items-start">
              <div>
          <span class="inline-flex justify-center items-center w-6 h-6 rounded bg-green-500 text-white font-medium text-sm">
              4.
          </span>
              </div>

              <p class="ml-4 md:ml-6 text-bold">
                Sốt
              </p>
            </div>

            <div class="flex items-start mt-3">

              <mat-slider min="0" max="100" step="1" showTickMarks discrete [displayWith]="formatLabel">
                <input
                  matSliderThumb
                  name="sauce"
                  #sauce="ngModel"
                  [(ngModel)]="tasteProfile.sauce"
                >
              </mat-slider>

            </div>
          </div>
        </div>
        <div>
          <button
            type="submit"
            class="inline-block w-full rounded-lg bg-green-600 px-5 py-3 font-medium text-white sm:w-auto"
          >
            Duyệt công thức này
          </button>
          <button
            type="button"
            (click)="deleteRecipe()"
            class="inline-block mx-2 w-full rounded-lg bg-red-600 px-5 py-3 font-medium text-white sm:w-auto"
          >
            Xóa
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
