<div class="lg:h-screen">
  <swiper-container class="mySwiper" pagination="true" pagination-type="progressbar" navigation="true">
    <swiper-slide>
      <p>
        Cá lóc làm sạch, cắt thành khúc ngắn vừa ăn. Ướp cá lóc với 1 muỗng canh nước mắm Maggi, 15gr hạt nêm Maggi, 15gr đường trắng, 3gr tiêu 15 phút cho thấm.
      </p>
      <img src="/src/assets/recipe31966-cook-step1-636651165278360534.jpg">
    </swiper-slide>
    <swiper-slide>Slide 2</swiper-slide>
    <swiper-slide>Slide 3</swiper-slide>
    <swiper-slide>Slide 4</swiper-slide>
    <swiper-slide>Slide 5</swiper-slide>
    <swiper-slide>Slide 6</swiper-slide>
    <swiper-slide>Slide 7</swiper-slide>
    <swiper-slide>Slide 8</swiper-slide>
    <swiper-slide>Slide 9</swiper-slide>
  </swiper-container>
</div>
