<div class="bg-gray-100" *ngIf="user">
  <div class="container mx-auto py-8">
    <div class="grid grid-cols-4 sm:grid-cols-12 gap-6 px-4">
      <div class="col-span-4 sm:col-span-3">
        <div class="bg-white shadow rounded-lg p-6">
          <div class="flex flex-col items-center">
            <img src="{{user.imageUrl || './assets/user.png'}}" class="w-32 h-32 bg-gray-300 rounded-full mb-4 shrink-0"/>

            <h1 class="text-xl font-bold">{{user.knownAs}}</h1>
            <p class="text-gray-700">{{user.roles}}</p>
          </div>
          <div class="mt-6 flex flex-wrap gap-4 justify-center">
            <button (click)="updateAvatar()" class="bg-red-500 hover:bg-red-600 text-white py-2 px-4 rounded">Cập nhật ảnh nền</button>
          </div>
          <hr class="my-6 border-t border-gray-300">
          <div class="flex flex-col">
            <span class="text-gray-700 uppercase font-bold tracking-wider mb-2">Hoạt động</span>
            <ul>
              <li class="mb-2">JavaScript</li>
            </ul>
          </div>
        </div>
      </div>
        <div class="col-span-4 sm:col-span-9">
          <div class="bg-white shadow rounded-lg p-6">
            <h2 class="text-xl font-bold mb-4">Cập nhật ảnh đại diện</h2>
            <app-photo-editor (imagesAdded)="onImageAdded($event)"></app-photo-editor>
            <form #userForm="ngForm" (ngSubmit)="updateUser()">
              <h2 class="text-xl font-bold mt-6 mb-4">Thông tin</h2>
              <div class="row m-5" *ngIf="validationErrors.length > 0">
                <ul class="text-danger">
                  <li *ngFor="let error of validationErrors">
                    {{error}}
                  </li>
                </ul>
              </div>
              <div class="mb-6">
                <div class="flex justify-between flex-wrap gap-2 w-full">
                  <span class="text-gray-700 font-bold">Tên</span>
                </div>
                <input
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  name="knownAs"
                  #knownAs="ngModel"
                  [(ngModel)]="user.knownAs"
                  [ngClass]="knownAs.invalid && knownAs.touched ? 'border-red-600' : null"
                  required
                />
              </div>
              <div class="mb-6">
                <div class="flex justify-between flex-wrap gap-2 w-full">
                  <span class="text-gray-700 font-bold">Giới thiệu</span>
                </div>
                <textarea
                  class="w-full rounded-lg border border-gray-200 p-3 text-sm"
                  placeholder="Hãy viết vài lời giới thiệu về bạn"
                  rows="8"
                  name="introduction"
                  *ngIf="user"
                  [(ngModel)]="user.introduction"
                  required
                  id="introduction"
                ></textarea>
              </div>
              <div class="mb-6">
                <div class="flex justify-between flex-wrap gap-2 w-full">
                  <span class="text-gray-700 font-bold">Số điện thoại</span>
                </div>
                <input
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  name="phoneNumber"
                  #phoneNumber="ngModel"
                  *ngIf="user"
                  [(ngModel)]="user.phoneNumber"
                  [ngClass]="phoneNumber.invalid && phoneNumber.touched ? 'border-red-600' : null"
                  required
                />
              </div>
              <div class="mt-6 flex flex-wrap gap-4 justify-center">
                <button class="bg-red-500 hover:bg-red-600 text-white py-2 px-4 rounded">Cập nhật thông tin</button>
              </div>
            </form>
          </div>
        </div>
    </div>
  </div>
</div>
