<section class="bg-gray-50 dark:bg-gray-900">
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto lg:py-0">
    <a href="#" class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white">
      <img class="h-20 mr-2" src="./assets/red.png" alt="logo">
    </a>
    <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
          Cập nhật gói kế hoạch ăn uống
        </h1>
        <form *ngIf="mp" #mpForm="ngForm" (ngSubmit)="mpForm.valid && updateMealPlan()" class="space-y-4 md:space-y-6">
          <div class="row mt-5" *ngIf="validationErrors.length >= 0">
            <ul class="text-red-600">
              <li *ngFor="let error of validationErrors">
                {{error}}
              </li>
            </ul>
          </div>
          <div>
            <label
              for="duration"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Thời gian
            </label>
            <input
              type="number"
              name="duration"
              #duration="ngModel"
              [(ngModel)]="mp.duration"
              id="duration"
              class="bg-gray-50 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5"
              [ngClass]="duration.touched && duration.invalid ? ' border border-red-600' : ' border border-gray-300'"
              required>
            <span *ngIf="duration.touched && duration.invalid" class="p-2 text-red-600">Vui lòng nhập thời hạn</span>
          </div>
          <div *ngIf="mp">
            <label
              for="price"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >Giá
            </label>
            <input
              type="number"
              name="price"
              #price="ngModel"
              [(ngModel)]="mp.price"
              id="price"
              class="bg-gray-50 text-gray-900 sm:text-sm rounded-lg block w-full p-2.5"
              [ngClass]="price.touched && price.invalid ? ' border border-red-600' : ' border border-gray-300'"
              required>
            <span *ngIf="price.touched && price.invalid" class="p-2 text-red-600">Vui lòng nhập giá</span>
          </div>
          <div *ngIf="mp">
            <label for="description"
                   class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >
              Giới thiệu
            </label>
            <input
              type="text"
              name="description"
              [(ngModel)]="mp.description"
              #description="ngModel"
              id="description"
              class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
              [ngClass]="description.touched && description.invalid ? ' border border-red-600' : ' border border-gray-300'"
              required
            />
            <span *ngIf="description.touched && description.invalid" class="p-2 text-red-600">Vui lòng nhập giới thiệu</span>
          </div>
          <div *ngIf="mp">
            <label for="status"
                   class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
            >
              Trạng thái
            </label>
            <select
              id="status"
              [(ngModel)]="mp.status"
              #status="ngModel"
              name="status"
              required
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            >
              <option [value]="1">Đang hoạt động</option>
              <option [value]="0">Vô hiệu hóa</option>
            </select>
            <span *ngIf="status.touched && status.invalid" class="p-2 text-red-600">Vui lòng chọn trạng thái</span>
          </div>
          <button
            type="submit"
            [disabled]="mpForm.invalid && mpForm.touched"
            [ngClass]="mpForm.invalid && mpForm.touched ? 'bg-red-400' : null"
            class="w-full text-white bg-red-600 hover:bg-red-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
          >
            Cập nhật
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
