<!--
  Heads up! 👋

  This component comes with some `rtl` classes. Please remove them if they are not needed in your project.
-->

<div class="overflow-x-auto">
  <table datatable #recipeTable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="min-w-full divide-y-2 divide-gray-200 bg-white text-sm">
    <thead class="ltr:text-left rtl:text-right">
    <tr>
      <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Tên món ăn</th>
      <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Trạng thái</th>
      <th class="px-4 py-2"></th>
    </tr>
    </thead>

    <tbody class="divide-y divide-gray-200">
    <tr *ngFor="let recipe of recipes">
      <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
        <a routerLink="/recipe-admin/{{recipe.id}}">{{recipe.title}}</a>
      </td>
      <td class="whitespace-nowrap px-4 py-2 text-indigo-600" *ngIf="recipe.recipeStatusName == 'Hidden'">
        {{recipe.recipeStatusName}}
      </td>
      <td class="whitespace-nowrap px-4 py-2 text-yellow-600" *ngIf="recipe.recipeStatusName == 'Pending'">
        {{recipe.recipeStatusName}}
      </td>
      <td class="whitespace-nowrap px-4 py-2 text-green-600" *ngIf="recipe.recipeStatusName == 'Normal'">
        {{recipe.recipeStatusName}}
      </td>
      <td class="whitespace-nowrap px-4 py-2 text-red-600" *ngIf="recipe.recipeStatusName == 'Deleted'">
        {{recipe.recipeStatusName}}
      </td>
      <td class="whitespace-nowrap px-4 py-2">
        <button
          type="button"
          (click)="deleteRecipe(recipe)"
          class="inline-block rounded bg-red-600 px-4 py-2 text-xs font-medium text-white hover:bg-red-700"
        >
          Xóa
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
