<section>
  <app-steps [steps]="steps"></app-steps>
</section>

<!--  <div #swiperContainer>-->
<!--    <div>-->
<!--      Slide 1-->
<!--    </div>-->
<!--    <div>-->
<!--      Slide 2-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--    <swiper-slide>-->
<!--      <p>Adu sao deo dc</p>-->
<!--    </swiper-slide>-->
<!--    <swiper-slide>-->
<!--      <p>Adu sao deo dc</p>-->
<!--    </swiper-slide>-->
<!--    <swiper-slide>-->
<!--      <p>Adu sao deo dc</p>-->
<!--    </swiper-slide>-->

