<a routerLink="/recipe/{{recipe.id}}"
   class="bg-white shadow-md p-4 rounded relative"
   *ngIf="recipe"
>
  <div *ngIf="recipe.isExclusive" class="absolute top-0 left-0 bg-red-500 text-white text-xs font-bold px-2 py-1 rounded-bl-lg w-auto">
    Hội viên
  </div>
  <h2 class="text-lg font-bold mb-2">{{recipe.title}}</h2>
  <img src="{{recipe.recipeImageUrl}}" alt="">
  <p class="text-gray-400 text-sm py-2">{{recipe.description}}</p>
  <br class="font-bold">
  <div class="text-sm text-gray-500">
    <fa-icon [icon]="faClockIcon"></fa-icon> {{recipe.completionTime}} phút |
    <fa-icon [icon]="faBolt"></fa-icon> {{recipe.recipeComplexityName}} |
    <fa-icon [icon]="faChartSimple"></fa-icon> {{recipe.numberOfViews}} lượt xem
  </div>
</a>
