<ngx-spinner type="line-scale-party">
  <h3>Loading...</h3>
</ngx-spinner>
<ng-container *ngIf="(accountService.currentUser$ | async) as user">
  <app-taste-test *ngIf="user.tasteProfileId == 0 && user.roles !== 'Admin'"></app-taste-test>
  <ng-container *ngIf="user.tasteProfileId != 0 || user.roles == 'Admin'">
    <app-nav-bar></app-nav-bar>
    <router-outlet ></router-outlet>
  </ng-container>
</ng-container>
<ng-container *ngIf="!(accountService.currentUser$ | async)">
  <app-nav-bar></app-nav-bar>
  <router-outlet></router-outlet>
</ng-container>
<app-footer></app-footer>


