<section>
  <div class="mx-auto max-w-screen-2xl px-4 py-16 sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 lg:h-screen lg:grid-cols-2">
      <div class="relative z-10 lg:py-16">
        <div  class="block rounded-lg p-4 shadow-sm shadow-indigo-100">
          <img
            alt=""
            src="https://images.unsplash.com/photo-1613545325278-f24b0cae1224?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80"
            class="h-56 w-full rounded-md object-cover"
          />

          <div class="mt-2">
            <dl>
              <div>
                <dt class="sr-only">Price</dt>

                <dd class="text-sm text-gray-500">bởi <a href="#" class="underline">Tài Võ</a></dd>
              </div>
              <div>
                <dt class="sr-only">Address</dt>

                <dd class="font-medium">Canh chua cá lóc</dd>
              </div>
            </dl>

            <div class="mt-6 flex items-center gap-8 text-xs">
              <div class="sm:inline-flex sm:shrink-0 sm:items-center sm:gap-2">
                <lucide-icon name="star" [size]="16" [color]="'#f8b008'"></lucide-icon>
                <div class="mt-1.5 sm:mt-0">
                  <p class="text-gray-500">Rating</p>

                  <p class="font-medium">4.5</p>
                </div>
              </div>

              <div class="sm:inline-flex sm:shrink-0 sm:items-center sm:gap-2">
                <lucide-icon name="heart" [size]="16" [color]="'red'"></lucide-icon>

                <div class="mt-1.5 sm:mt-0">
                  <p class="text-gray-500">Lượt thích</p>

                  <p class="font-medium">2</p>
                </div>
              </div>

              <div class="sm:inline-flex sm:shrink-0 sm:items-center sm:gap-2">
                <lucide-icon name="eye" [size]="16"></lucide-icon>
                <div class="mt-1.5 sm:mt-0">
                  <p class="text-gray-500">Lượt xem</p>

                  <p class="font-medium">2</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="relative flex items-center bg-gray-100">
        <span
          class="hidden lg:absolute lg:inset-y-0 lg:-start-16 lg:block lg:w-16 lg:bg-gray-100"
        ></span>

        <div class="p-8 sm:p-16 lg:p-24">
          <h2 class="text-2xl font-bold sm:text-3xl">
            Thành phần
          </h2>

<!--          <p class="mt-4 text-gray-600">-->
<!--            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, molestiae! Quidem est-->
<!--            esse numquam odio deleniti, beatae, magni dolores provident quaerat totam eos, aperiam-->
<!--            architecto eius quis quibusdam fugiat dicta.-->
<!--          </p>-->
          <div class="w-full text-gray-600 mt-4">
            <p>Cá lóc - 500gr</p>
            <p>Khế - 250gr</p>
            <p>Cà chua - 80gr</p>
            <p>Bắp chuối - 10gr</p>
            <p>Ngò gai - 10gr</p>
            <p>Hành lá - 5gr</p>
            <p>Hạt nêm - 45gr</p>
            <p>Nước mắm - 50gr</p>
            <p>Đường trắng - 45gr</p>
            <p>Tiêu - 3gr</p>
          </div>

          <a
            href="#"
            class="mt-8 inline-block rounded border border-red-600 bg-red-600 px-12 py-3 text-sm font-medium text-white hover:bg-transparent hover:text-red-600 focus:outline-none focus:ring active:text-red-500"
          >
            Bắt đầu nấu
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
